@import "tailwindcss";

@theme {
  /* Colors */
  /* --color-brand: #FA6E43; */
  --color-brand: #5465FF;
  /* --color-brand: #e76f51     ; */
  --color-red: #ef233c;
  --color-dark: #0D0D0D;
  --color-card: #1f2023;
  --color-card-mid: #2a2b2e;
  --color-card-dark: #171718;
  --color-card-mid-dark: #1b1c1f;
  --color-very-light: #f4f3f6;
  --color-dark-light: #e4dfe6;
  --color-secondary: #C0C0C0;
  --color-bleed: #888891;
  
  --color-secondary-text:#999;
  --color-tertiary-text: #666;
  --color-gray: #a6a3af;
  --color-mid-gray: #797681;
  --color-dark-gray: #4b4852;
  --color-black: #121014;

  /* Radius */
  --radius-card-dark: 12px;

  /* Fonts */
  --font-inter: var(--font-inter);
  --font-bebas: var(--font-bebas);
  --font-manrope: var(--font-manrope);
}

/* Global styles */
body {
  /* background-color: var(--color-dark); */
  background-color: rgb(44, 44, 44);
  color:#f4f3f6 ;
  font-family: var(--font-manrope), sans-serif;
}
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-brand);
  color: #f4f3f6;
}

::-webkit-selection {
  background-color: var(--color-brand);
  color: #f4f3f6;
}

.highlighted-word::selection {
  color: black;

}
